@model Presentation.Models.IhtarModel

<!-- Create Modal -->
<div class="modal fade" id="createModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form id="createForm">
                <div class="modal-header">
                    <h5 class="modal-title">Yeni İhtar</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row mb-3">
                            <div class="col-md-4">
                                @Html.LabelFor(m => m.BorcTutar, "Borç Tutarı")
                                @Html.TextBoxFor(m => m.BorcTutar, new { @class = "form-control", type = "number", step = "0.01" })
                            </div>
                            <div class="col-md-4">
                                @Html.LabelFor(m => m.IhtarTarZmn, "İhtar Tarihi")
                                @Html.TextBoxFor(m => m.IhtarTarZmn, new { @class = "form-control", type = "date" })
                            </div>
                            <div class="col-md-4">
                                @Html.LabelFor(m => m.MusteriId, "Müşteri")
                                @Html.DropDownListFor(m => m.MusteriId,
                                    ViewBag.MusteriList as IEnumerable<SelectListItem>,
                                    "Müşteri Seç",
                                    new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-4">
                                @Html.LabelFor(m => m.SubeId, "Şube")
                                @Html.DropDownListFor(m => m.SubeId,
                                    ViewBag.SubeList as IEnumerable<SelectListItem>,
                                    "Şube Seç",
                                    new { @class = "form-control" })
                            </div>
                            <div class="col-md-4">
                                @Html.LabelFor(m => m.AvukatId, "Avukat")
                                @Html.DropDownListFor(m => m.AvukatId,
                                    ViewBag.AvukatList as IEnumerable<SelectListItem>,
                                    "Avukat Seç",
                                    new { @class = "form-control" })
                            </div>
                        </div>

                        <!-- Ürün Seçimi -->
                        <div class="row mb-3">
                            <div class="col-md-12">
                                @Html.LabelFor(m => m.SecilenUrunler, "Ürünler")
                                @Html.ListBoxFor(m => m.SecilenUrunler,
                                    ViewBag.UrunList as IEnumerable<SelectListItem>,
                                    new { @class = "form-control", multiple = "multiple" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="createSaveBtn" class="btn btn-primary">Kaydet</button>
                </div>
            </form>
