@model Presentation.Models.IhtarModel

<!-- Create Modal -->
<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            @using (Html.BeginForm("Create", "Ihtar", FormMethod.Post, new { id = "createForm" }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <h5 class="modal-title" id="createModalLabel">Yeni İhtar</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Kapat"></button>
                </div>

                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row mb-3">
                            <div class="col-md-4">
                                @Html.LabelFor(m => m.BorcTutar, "Borç Tutarı")
                                @Html.TextBoxFor(m => m.BorcTutar, new { @class = "form-control", type = "number", step = "0.01", placeholder = "Borç tutarını giriniz" })
                                @Html.ValidationMessageFor(m => m.BorcTutar, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-4">
                                @Html.LabelFor(m => m.IhtarTarZmn, "İhtar Tarihi")
                                @Html.TextBoxFor(m => m.IhtarTarZmn, new { @class = "form-control", type = "date" })
                                @Html.ValidationMessageFor(m => m.IhtarTarZmn, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-4">
                                @Html.LabelFor(m => m.MusteriId, "Müşteri")
                                @Html.DropDownListFor(m => m.MusteriId,
                                    ViewBag.MusteriList as IEnumerable<SelectListItem>,
                                    "Müşteri Seç",
                                    new { @class = "form-select" })
                                @Html.ValidationMessageFor(m => m.MusteriId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-4">
                                @Html.LabelFor(m => m.SubeId, "Şube")
                                @Html.DropDownListFor(m => m.SubeId,
                                    ViewBag.SubeList as IEnumerable<SelectListItem>,
                                    "Şube Seç",
                                    new { @class = "form-select" })
                                @Html.ValidationMessageFor(m => m.SubeId, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-4">
                                @Html.LabelFor(m => m.AvukatId, "Avukat")
                                @Html.DropDownListFor(m => m.AvukatId,
                                    ViewBag.AvukatList as IEnumerable<SelectListItem>,
                                    "Avukat Seç",
                                    new { @class = "form-select" })
                                @Html.ValidationMessageFor(m => m.AvukatId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <!-- Ürün Seçimi -->
                        <div class="row mb-3">
                            <div class="col-md-12">
                                @Html.LabelFor(m => m.UrunAd, "Ürün")
                                @Html.DropDownListFor(m => m.UrunAd,
                                    ViewBag.UrunList as IEnumerable<SelectListItem>,
                                    "Ürün Seç",
                                    new { @class = "form-select" })
                                @Html.ValidationMessageFor(m => m.UrunAd, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" id="createSaveBtn" class="btn btn-primary">Kaydet</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
                </div>
            }
        </div>
    </div>
</div>
