<!-- Create Modal -->
<div class="modal fade" id="createModal">
    <div class="modal-dialog modal-lg">
        <!-- geniş modal -->
        <div class="modal-content">
            <form id="createForm">
                <div class="modal-header">
                    <h5 class="modal-title">Avukat Bilgileri</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row mb-3">
                            <div class="col-md-4">
                                @Html.Label("Avukat Adı")
                                <input type="text" id="AVKT_AD" name="AVKT_AD" class="form-control" />
                            </div>
                            <div class="col-md-4">
                                @Html.Label("Avukat Soyadı")
                                <input type="text" id="AVKT_SOYAD" name="AVKT_SOYAD" class="form-control" />
                            </div>
                            <div class="col-md-4">
                                @Html.Label("TBB Sicil Numarası")
                                <input type="text" id="TBB_SICIL_NO" name="TBB_SICIL_NO" class="form-control" />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-4">
                                @Html.Label("Avukat E-posta")
                                <input type="text" id="AVKT_EPOSTA" name="AVKT_EPOSTA" class="form-control" />
                            </div>
                            <div class="col-md-4">
                                @Html.Label("Avukat Telefon Numarası")
                                <input type="text" id="AVKT_TEL_NO" name="AVKT_TEL_NO" class="form-control" />
                            </div>
                            <div class="col-md-4">
                                @Html.Label("Hukuk Bürosu Adı")
                                <input type="email" id="HKK_BURO_AD" name="HKK_BURO_AD" class="form-control" />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-4">
                                @Html.Label("Hukuk Bürosu Adresi")
                                <input type="text" id="HKK_BURO_ADRES" name="HKK_BURO_ADRES" class="form-control" />
                            </div>
                            <div class="col-md-4">
                                @Html.Label("Ofis Telefon Numarası")
                                <input type="text" id="OFIS_TEL_NO" name="OFIS_TEL_NO" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="createSaveBtn" class="btn btn-primary">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Update Modal -->
<div class="modal fade" id="updateModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form id="updateForm">
                <input type="hidden" id="AVUKAT_ID" name="AVUKAT_ID" />
                <div class="modal-header">
                    <h5 class="modal-title">Avukat Bilgileri</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row mb-3">
                            <div class="col-md-4">
                                @Html.Label("Avukat Adı")
                                <input type="text" id="AVKT_AD" name="AVKT_AD" class="form-control" />
                            </div>
                            <div class="col-md-4">
                                @Html.Label("Avukat Soyadı")
                                <input type="text" id="AVKT_SOYAD" name="AVKT_SOYAD" class="form-control" />
                            </div>
                            <div class="col-md-4">
                                @Html.Label("TBB Sicil Numarası")
                                <input type="text" id="TBB_SICIL_NO" name="TBB_SICIL_NO" class="form-control" />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-4">
                                @Html.Label("Avukat E-posta")
                                <input type="text" id="AVKT_EPOSTA" name="AVKT_EPOSTA" class="form-control" />
                            </div>
                            <div class="col-md-4">
                                @Html.Label("Avukat Telefon Numarası")
                                <input type="text" id="AVKT_TEL_NO" name="AVKT_TEL_NO" class="form-control" />
                            </div>
                            <div class="col-md-4">
                                @Html.Label("Hukuk Bürosu Adı")
                                <input type="email" id="HKK_BURO_AD" name="HKK_BURO_AD" class="form-control" />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-4">
                                @Html.Label("Hukuk Bürosu Adresi")
                                <input type="text" id="HKK_BURO_ADRES" name="HKK_BURO_ADRES" class="form-control" />
                            </div>
                            <div class="col-md-4">
                                @Html.Label("Ofis Telefon Numarası")
                                <input type="text" id="OFIS_TEL_NO" name="OFIS_TEL_NO" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="saveBtn" class="btn btn-primary">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>
