@model List<Entity.Concrete.Avukat>

<h2>Avukat Listesi</h2>
<table class="table">
    <tr>

        <th>Avukat Adı</th>
        <th>Avukat Soyadı</th>
        <th>TBB Sicil Numarası</th>
        <th>Avukat E-posta </th>
        <th>Avukat Telefon Numarası</th>
    </tr>
    @foreach (var a in Model)
    {
        <tr>
            <td>@a.AVKT_AD</td>
            <td>@a.AVKT_SOYAD</td>
            <td>@a.TBB_SICIL_NO</td>
            <td>@a.AVKT_EPOSTA</td>
            <td>@a.AVKT_TEL_NO</td>

        </tr>
    }
</table>
