<!-- Create Modal -->
<div class="modal fade" id="createModal">
    <div class="modal-dialog modal-lg">
        <!-- geniş modal -->
        <div class="modal-content">
            <form id="createForm">
                <div class="modal-header">
                    <h5 class="modal-title">Ürün Bilgileri</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row mb-3">
                            <div class="col-md-4">
                                @Html.Label("Ürün Adı")
                                <input type="text" id="UrunAd" name="UrunAd" class="form-control" />
                            </div>
                            <div class="col-md-4">
                                @Html.Label("Ürün Kodu")
                                <input type="text" id="UrunKod" name="UrunKod" class="form-control" />
                            </div>
                            <div class="col-md-4">
                                @Html.Label("Ürün Son Geçerlilik Tarihi")
                                <input type="date" id="SonGecerlilikTar" name="SonGecerlilikTar" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="createSaveBtn" class="btn btn-primary">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Update Modal -->
<div class="modal fade" id="updateModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form id="updateForm">
                <input type="hidden" id="UrunId" name="UrunId" />
                <div class="modal-header">
                    <h5 class="modal-title">Ürün Bilgileri</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row mb-3">
                            <div class="col-md-4">
                                @Html.Label("Ürün Adı")
                                <input type="text" id="UrunAd" name="UrunAd" class="form-control" />
                            </div>
                            <div class="col-md-4">
                                @Html.Label("Ürün Kodu")
                                <input type="text" id="UrunKod" name="UrunKod" class="form-control" />
                            </div>
                            <div class="col-md-4">
                                @Html.Label("Ürün Son Geçerlilik Tarihi")
                                <input type="date" id="SonGecerlilikTar" name="SonGecerlilikTar" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="updateSaveBtn" class="btn btn-primary">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>
