@model Entity.Concrete.Musteri

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        @Html.LabelFor(m => m.MUST_NO)
        @Html.TextBoxFor(m => m.MUST_NO)
    </div>
    <div>
        @Html.LabelFor(m => m.MUST_AD)
        @Html.TextBoxFor(m => m.MUST_AD)
    </div>
    <div>
        @Html.LabelFor(m => m.MUST_SOYAD)
        @Html.TextBoxFor(m => m.MUST_SOYAD)
    </div>
    <button type="submit">sil</button>

}

