@model IEnumerable<Presentation.Models.MusteriModel>
@{
    ViewBag.Title = "Müsteri Listesi";
}

<!-- Müşteri Ekle Butonu -->
<tr>
    <td colspan="6">
        <div style="display:flex; justify-content:flex-end;">
            <button type="button" class="btn btn-success"
                    data-bs-toggle="modal"
                    data-bs-target="#createModal">
                Müşteri Ekle
            </button>
        </div>
    </td>
</tr>

<h2>Müşteriler</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                <!-- Tümünü seç/deselect için -->
                <input type="checkbox" id="selectAll" />
            </th>
            <th>Müşteri no</th>
            <th>Ad</th>
            <th>Soyad</th>
            <th>kimlik no</th>
            <th>vergi kimlik no</th>
            <th>e_posta</th>
            <th>tel_no</th>            
            <th>İşlem</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var musteri in Model)
        {
            <tr>
                <td>
                    <input type="checkbox" class="rowCheckbox" value="@musteri.MusteriId" />
                </td>
                <td>@musteri.MustNo</td>
                <td>@musteri.MustAd</td>
                <td>@musteri.MustSoyad</td>
                <td>@musteri.MustKimlikNo</td>
                <td>@musteri.MustVknNo</td>
                <td>@musteri.MustEposta</td>
                <td>@musteri.MustTelNo</td>
                <td>
                    <button class="btn btn-sm btn-warning updateBtn" data-id="@musteri.MusteriId">Güncelle</button>
                    <button class="btn btn-sm btn-danger deleteBtn" data-id="@musteri.MusteriId">Sil</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.Partial("_MusteriModals")

@section Scripts {
    <script src="~/Scripts/crud.js"></script>
    <script>
        initCrud("Musteri", ["MusteriId", "MustNo", "MustAd", "MustSoyad", "MustKimlikNo", "MustVknNo", "MustEposta", "MustTelNo"]);
    </script>
}