<div class="bg-light sidebar vh-100">
    <h5 class="mt-3">Menü</h5>
    <ul class="nav flex-column">
        <li class="nav-item">@Html.ActionLink("Müşteriler", "Index", "Musteri", null, new { @class = "nav-link" })</li>
        <li class="nav-item">@Html.ActionLink("Ürünler", "Index", "Urun", null, new { @class = "nav-link" })</li>
        <li class="nav-item">@Html.ActionLink("Avukatlar", "Index", "Avukat", null, new { @class = "nav-link" })</li>
        <li class="nav-item">@Html.ActionLink("İhtar Takip", "Index", "Ihtar", null, new { @class = "nav-link" })</li>
        <li class="nav-item">@Html.ActionLink("İcra Takip", "Index", "Icra", null, new { @class = "nav-link" })</li>
    </ul>
</div>