<div class="sidebar vh-100">
    <div class="sidebar-logo text-center mb-4">
        <img src="~/Content/images/halkbank_logo_2.jpg" alt="Logo" class="img-fluid" />
    </div>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link @(ViewContext.RouteData.Values["controller"].ToString() == "Musteri" ? "active" : "")" href="@Url.Action("Index","Musteri")">
                <i class="bi bi-people"></i> Müşteriler
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(ViewContext.RouteData.Values["controller"].ToString() == "Urun" ? "active" : "")" href="@Url.Action("Index","Urun")">
                <i class="bi bi-box-seam"></i> Ürünler
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(ViewContext.RouteData.Values["controller"].ToString() == "Avukat" ? "active" : "")" href="@Url.Action("Index","Avukat")">
                <i class="bi bi-person-badge"></i> Avukatlar
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(ViewContext.RouteData.Values["controller"].ToString() == "Ihtar" ? "active" : "")" href="@Url.Action("Index","Ihtar")">
                <i class="bi bi-bell"></i> İhtar Takip
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(ViewContext.RouteData.Values["controller"].ToString() == "Icra" ? "active" : "")" href="@Url.Action("Index","Icra")">
                <i class="bi bi-file-text"></i> İcra Takip
            </a>
        </li>
    </ul>
</div>

